<div class="flex-container">
  <div id="small-long"> <!-- small one-->
      <p class="text-blocks">
         Until now you have build a pension of:
        <!-- <p class="variable">100 </p> -->
         euros per month     
      </p>

      <a href="./fullpension">Look at your full pension ></a>
  </div>

  <div id="big-one"> <!-- big one-->
      <div id="big-long">   <!-- long-->
          <p class="text-blocks">
              Welcome Sir Pieters   Welcome to {{ 'TITLE' | translate }}!
          </p>
          
          <a href="./persona">Look at your persona ></a>
      </div>

      <div id="big-down"> <!-- two little ones-->
          <div class="little-square" id="square">
                  <p class="text-blocks">
                      Propose your questions of plan an appointment.
                  </p>
          
                  <a href="./questions">Ask us ></a>
          </div> 

          <div class="little-square" id="square2">
                  <p class="text-blocks">
                      See how much your pension is worth.
                  </p>
          
                  <a href="./calender">Plan your pension ></a>
          </div>
      </div>
  </div>
  </div>