    <div class="flex-container">
    <div id="small-long"> <!-- small one-->
        <div class="content-text">
            <div class="text-blocks">
            {{ 'PENSIONSHORT' | translate }}
            <div id="flex-text">
            <div class="variable">100 </div> <div class="variable1"> euros per month</div>
            </div>   
        </div>
            
            <a href="./fullpension">Look at your full pension overview ></a>  
        </div>          
    </div>

    <div id="big-one"> <!-- big one-->
        <div id="big-long">   <!-- long-->
            
                <p class="text-blocks">
                    {{ 'PERSONALDETAILS' | translate }} Pieters!
                </p>
                
                <a href="./persona">Look at your personal details ></a>
        </div>

        <div id="big-down"> <!-- two little ones-->
            <div class="little-square" id="square">
                    <p class="text-blocks-square">
                        {{ 'FAQ' | translate }}
                    </p>
            
                    <a href="./questions">Reach out to us ></a>
            </div> 

            <div class="little-square" id="square2">
                    <p class="text-blocks-square">
                        {{ 'PENSIONPLANNER' | translate }}
                    </p>
            
                    <a href="./calender">Plan your pension ></a>
            </div>
        </div>
    </div>
    </div>