#small-long{
    margin: 2%;
    width:25%;
    height:80%;
    background-color: white;
    padding: 2%;
}

#big-one{
    margin: 2%;
    width:75%;
    height:80%;
}

#big-long{
    margin: 2%;
    width:90%;
    height: 20%;
    background-color: white;
    padding: 2%;
}

#big-down{
    display: flex;
    flex-wrap: nowrap;
    width:94%;
    height: 70%;
    margin: 2%;
}

.little-square{
    width:50%;
    height:100%;
    background-color: white;
    padding: 2%;
}

#square{
    margin-right: 2%;
}

#square2{
    margin-left: 2%;
}

.text-blocks{
    font-size: 30pt;
}

.variable{
    font-size:60pt;
    color: #70d6ff;
}
