<div id="long-slider">
  <h1>Uw pensioenoverzicht</h1>
  <p>€ 1 netto per maand
         bij een pensioenleeftijd van 67 jaar en 3 maanden
          
          Dit bedrag is naar beneden afgerond.
          Dit bedrag is gebaseerd op € 1 bruto per maand.
          Het standaard AOW-bedrag zit hier niet bij. Lees meer informatie over de AOW en uw AOW-leeftijd op de website van de Sociale Verzekeringsbank.</p>

  <h1>Opbouw van uw ouderdomspensioen</h1>
  <p>

          Gebaseerd op deze brutobedragen
          
          Opgebouwd bij ABP
          
          Bruto
          
          € 1 
          Opgebouwd bij ABP
          Totaal opgebouwd ouderdomspensioen tot nu toe
          
          Bruto
          
          € 1 
          Totaal opgebouwd ouderdomspensioen tot nu toe
          
          Netto per maand
          
          Netto per maand
          
          € 1</p>
  

  <h1>Diensttijdoverzicht</h1>
  <p></p>

  <h1>Nabestaandenpensioen</h1>
  <p>Als u overlijdt voor uw 65ste, dan ontvangt uw partner van ABP

          € 0
          netto per maand
          
          Dit bedrag is gebaseerd op bruto per maand
          Het nabestaandenpensioen kan gedeeltelijk vervallen als u geen pensioen meer opbouwt op het moment van overlijden.
          De Anw-compensatie is vervallen per 1 mei 2018. Lees hier meer informatie. Als u in de uitzonderingsregeling valt, heeft u hierover een brief ontvangen. Heeft u diensttijd voor 1996 en valt u niet in de uitzonderingsregeling? Dan heeft uw partner mogelijk recht op aanvulling op het partnerpensioen.
          Heeft u geen partner? Dan wordt uw nabestaandenpensioen zo veel mogelijk aan uw ouderdomspensioen toegevoegd als u met pensioen gaat.</p>
  
  <h1>Pensioenaangroei</h1>
  <p>De pensioenaangroei (factor A) is het bedrag waarmee uw opgebouwde pensioen is toegenomen in een kalenderjaar. U heeft factor A nodig om te bepalen hoeveel fiscale ruimte u heeft.

      </p>
</div>        