/* You can add global styles to this file, and also import other style files */
body{
    margin: 0;
    padding: 0;
    font-family: "Aileron", sans-serif;
    font-size: 16pt;
    width:100vw;
    height:100vh;
    background-color: #70d6ff;
}

a{
    text-decoration: none;
    color: black;
    float: right;
    bottom: 0;
}

a:hover{
    color: #70d6ff;
    text-decoration: underline;
}

.flex-container{
    display: flex;
    flex-wrap: nowrap;
    height: 80vh;
    width: 90vw;
}