<div class="form">
  <div class="form-panel one">
      <div class="form-header">
          <h1>APG Potential Data</h1>
          <p id="disclaimer">Disclaimer: this is a simulation. We don't have to do this in the final product.</p>
      </div>
      <div class="form-content">
          <form>
            <div class="form-group"><label for="username">Age</label><input [(ngModel)]="formData.age" type="text" id="age" name="age" required="required" /></div>
            <div class="form-group"><label for="password">Gender</label><input [(ngModel)]="formData.sex" type="text" id="sex" name="sex" required="required" /></div>
            <div class="form-group"><label for="username">Income</label><input [(ngModel)]="formData.income" type="text" id="income" name="income" required="required" /></div>
            <div class="form-group"><label for="password">Residence</label><input [(ngModel)]="formData.residence" type="text" id="residence" name="residence" required="required" /></div>
            <div class="form-group"><label for="password">Origin</label><input [(ngModel)]="formData.origin" type="text" id="origin" name="origin" required="required" /></div>
            <br>
            <div class="form-group"><button (click)="createPersona()" type="submit">Log In</button></div>
          </form>
      </div>
  </div>
  <div class="form-panel two">
  </div>
</div>
