*{
  font-family: 'aileronregular', sans-serif; 
}
  
  .form {
    z-index: 15;
    position: relative;
    background: #fff;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 100px auto 10px;
    overflow: hidden;
    font-family: 'aileronregular', 'Roboto', sans-serif;
  }
  
  .form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 10px; 
    font-family: 'aileronregular', 'Roboto', sans-serif;
  }
  
  .form-group label {
    display: block;
    margin: 0 0 10px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  
  .form-group input, select {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    width: 100%;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
  }
  
  .form-group button {
    outline: none;
    background: #70d6ff;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #fff;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
  }
  
  .form-group {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    color: #70d6ff;
    text-decoration: none;
  }
  .form-group input[type='checkbox'] {
      display: inline-block;
      width: auto;
      margin: 0 10px 0 0;
  }
  
  .form-panel {
    padding: 60px calc(5% + 60px) 60px 60px;
    box-sizing: border-box;
  }
  
  .form-panel.two {
    z-index: 5;
    position: absolute;
    top: 0;
    left: 95%;
    background: #70d6ff;
    width: 100%;
    min-height: 100%;
    padding: 60px calc(10% + 60px) 60px 60px;
  }
  
  .form-header {
    margin: 0 0 40px;
  }
  .form-header h1 {
    padding: 4px 0;
    color: #70d6ff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .cp-fab {
    background: #fff !important;
    color: #70d6ff !important;
  }
  
  #disclaimer{
      font-style: italic;
      font-size: 12px;
  }